
#MAP:3:3
111101111
#ENDMAP
#INFO:5:0:0
#TEAMS
0:Ponies:ff00ff:0 1 2 3
1:Rangers:00ff00:4 5
#ENDTEAMS

#PLAYERS
0:John:0:5:6
1:Roger:0:4:4
2:Raphael:1:7:8
3:Eric:1:6:8
4:Frank:1:3:3
5:Fiahil:0:1:0
#ENDPLAYERS

